.input {
  display: block;
  padding: 10px 0 10px 10px;
  font-size: 14px;
  border: 2px solid #9dcb8f;
  min-width: 240px;
  margin: 5px 0px 15px 0px;
}

.label {
  margin: 10px 0;
}

.form {
  max-width: 255px;
  margin: 0 auto;
}

.button {
  display: block;
  margin: 40px auto;
}