.link {
  font-weight: 500;
  list-style: none;
  border: 1px solid #444;
  border-radius: 4px;
  font-size: 14px;
  line-height: 20px;
  padding: 6px 16px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 300ms all linear;
}

.link:hover {
  text-decoration: underline;
  transition: 300ms all linear;
}
